#lost-animal-list {
    font-family: "Gothic A1", sans-serif;
}

.lost-animal-list-contents-box {
    width: 1100px;
    margin: 30px auto;
}

#lost-animal-list .summary {
    padding: 20px 40px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 5px;
    line-height: 25px;
    color: #aaaaaa;
}

#lost-animal-list .search-title {
    margin: 30px 0 10px;
    font-size: 18px;
    font-weight: bold;
}

#lost-animal-list .search-wrap {
    padding: 30px 40px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#lost-animal-list .search-wrap span {
    color: #e7b5ac;
    font-weight: bold;
    margin-right: 20px;
}

#lost-animal-list select {
    width: 140px;
    height: 40px;
    font-size: 16px;
    outline: none;
    padding: 0 5px;
    margin-right: 40px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-family: "Gothic A1", sans-serif;
}

#lost-animal-list input {
    width: 500px;
    height: 40px;
    font-size: 16px;
    outline: none;
    padding: 0 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-family: "Gothic A1", sans-serif;
}

#lost-animal-list button {
    width: 120px;
    height: 40px;
    margin-left: 40px;
    border: none;
    outline: none;
    border-radius: 100px;
    font-family: "Gothic A1", sans-serif;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(135deg, #f9e0db 0%, #e7b5ac 100%);
    box-shadow: 2px 2px 2px #aaaaaa;
}

#lost-animal-list button:hover {
    cursor: pointer;
}

#lost-animal-list .top-side {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 30px 0 10px;
}

#lost-animal-list .report {
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(135deg, #869f77 0%, #588068 100%);
    font-weight: bold;
    color: white;
    border-radius: 100px;
    box-shadow: 2px 2px 2px #aaaaaa;
}