#lost-animal-item {
    display: flex;
    padding: 20px 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: "Gothic A1", sans-serif;
}

#lost-animal-item img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    box-shadow: 2px 2px 2px #aaaaaa;
}

#lost-animal-item .center-side {
    width: 580px;
    margin-left: 30px;
}

#lost-animal-item .traits {
    display: flex;
}

#lost-animal-item .traits-title {
    font-weight: bold;
    margin: 0 10px 5px 0;
    color: #869f77;
}

#lost-animal-item .right-side {
    color: #aaaaaa;
    font-size: 14px;
}