#header {
    background-color: #333333;
    font-family: "Gothic A1", sans-serif;
}

.header-contents-box {
    width: 1100px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#header .left-side {
    text-decoration: none;
    color: #869f77;
}

#header .nav-item {
    color: white;
    margin-left: 50px;
    text-decoration: none;
    font-size: 14px;
}

#header .right-side {
    display: flex;
}

#header .auth {
    color: #e7b5ac;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

#header .auth:hover {
    cursor: pointer;
}