#animalti {
    font-family: "Gothic A1", sans-serif;
}

.animalti-contents-box {
    width: 1100px;
    height: auto;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#animalti .title {
    font-size: 25px;
    font-weight: bold;
}

#animalti .start-button {
    width: 200px;
    outline: none;
    border: none;
    height: 50px;
    margin-top: 100px;
    border-radius: 100px;
    font-family: "Gothic A1", sans-serif;
    color: black;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(135deg, #f9e0db 0%, #e7b5ac 100%);
    box-shadow: 2px 2px 2px #aaaaaa;
}

#animalti .box {
    width: 700px;
    height: 400px;
    margin: 30px auto;
    border: 1px solid #cccccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#animalti .box .question {
    font-size: 20px;
    font-weight: bold;
}

#animalti .box .answer {
    font-family: "Gothic A1", sans-serif;
    background: white;
    box-shadow: 3px 3px 3px #cccccc;
    border: 1px solid #eeeeee;
    outline: none;
    border-radius: 100px;
    height: 50px;
    padding: 0 30px;
}

#animalti .result-buttons {
    display: flex;
}

#animalti .result-buttons button {
    margin: 0 20px;
    padding: 0 30px;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 100px;
    font-family: "Gothic A1", sans-serif;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 2px 2px #aaaaaa;
}

#animalti .type {
    background: linear-gradient(135deg, #f9e0db 0%, #e7b5ac 100%);
    color: black;
}

#animalti .restart {
    background: linear-gradient(135deg, #869f77 0%, #588068 100%);
    color: white;
}